


.sidebarMenuBtn {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 200;
    display: none;
  }
  
  .Sidebar {

  }
  
  .Sidebar.visible {
    left: 0; /* Slide in */
  }

  .loginInput{
      /* margin-bottom: 10px; */
    width: 40ch;
}
  
  @media (max-width: 600px) {
    .Sidebar {
      display: block; /* Always display on small screens */
      position: fixed;
      /* top: 0; Start from the top */
      left: -30%; /* Start position off-screen */
      width: 250px;
      
      /* height: 100%; Full height */
      /* background-color: #333; Example background */
      transition: left 0.3s ease; /* Smooth slide-in effect */
      z-index: 100;


    }
    .sidebarMain{
        position: fixed;
        top: 0;
    }
  
    .sidebarMenuBtn {
      display: block;
      top: 10px; /* Adjust for spacing */
      left: 10px; /* Adjust for spacing */
    }


    .votePage{
        width: 200px;
    }


    .loginInput{
      
          width: 80vw;
    }

    .votePage{
      width: 80vw;
    }

    .listContainer{
      width: 80vw;
      /* height: 100px; */
    }
    .profileRow{
      height: 100px;
      width: 100px;
    }

    .App{
      display: flex;
      justify-content: center;
    }

    .candidateName{
      font-size: 1rem;
    }

    .candidateVoteInfo{
      background-color: rgba(255, 255, 255, 0) !important;
      width: 10px;
      font-size: .5rem;
      /* position: ; */
      margin-top: -30px;
    }


  }
  